In [ ]:
#1
num1=float(input("Enter first number:")) 
num2=float(input("Enter second number:")) 
num3=float(input("Enter third number:")) 
if(num1>num2) and (num1>num3):
  largest = num1
elif (num2>num1) and (num2>num3): 
  largest = num2
else:
 largest = num3
print("The largest number is",largest)3

Enter first number:10
Enter second number:20
Enter third number:30
The largest number is 30.0

In [ ]:
#2
num=int(input("Enter a number: ")) 
if num>1:
  for i in range(2,num): 
    if (num % i) == 0:
     print(num ,"is not a prime number") 
     print(i,"times",num//i,"is",num) 
     break
  else:
     print(num,"is a prime number")
else:
 print(num,"is not a prime number")

Enter a number: 20
20 is not a prime number
2 times 10 is 20

In [ ]:
#3
num=int(input("Enter a number: ")) 
factorial = 1
if num<0:
 print("Factorial does not exist for negative numbers") 
elif num == 0:
 print("The factorial of 0 is 1") 
else:
 for i in range(1,num+1): 
   factorial = factorial*i
print("The factorial of",num,"is",factorial)

Enter a number: 7
The factorial of 7 is 5040

In [ ]:
#4
num=int(input("Display multiplication table of ? ")) 
for i in range(1,13):
 print(num, 'x',i,"=", num*i)

Display multiplication table of ? 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [ ]:
#5
nterms = int(input("How many terms ? ")) 
n1,n2=0,1
count=0
if nterms<=0:
 print("Please enter a positive integer")
elif nterms == 1:
 print("Fibonacci sequence upto",nterms,".") 
 print(n1)
else:
 print("Fibonacci sequence:") 
 while count<nterms:
  print(n1)
  nth = n1 + n2 
  n1=n2
  n2=nth
  count +=1

How many terms ? 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
#6
num= int(input("Enter a number: ")) 
if num <0:
 print("Enter a positive number")
else:
  sum=0
while (num>0): 
  sum +=num 
  num	 -=1
print("The sum is",sum)

Enter a number: 50
The sum is 1275

In [ ]:
#7
def compute_hcf(x,y): 
  if x<y:
   smaller = y 
  else:
   smaller = x
  for i in range(1, smaller +1):
   if ((x % i == 0) and (y % i == 0)):  
      hcf	=i
  return hcf
num1 = int(input("Enter numberl: ")) 
num2 = int(input("Enter number2: "))
print("The H.C.F. is", compute_hcf(num1,num2))

Enter numberl: 2
Enter number2: 3
The H.C.F. is 1

In [ ]:
#8
import itertools, random
deck=list(itertools.product(range(1,14),['Spade', 'Heart','Diamond', 'Club'])) 
random.shuffle(deck)
print("You got:") 
for i in range(7):
 print(deck[i][0],"of",deck[i][1])

You got:
1 of Heart
12 of Diamond
2 of Spade
3 of Heart
8 of Heart
3 of Spade
11 of Diamond

In [ ]:
#9
X = [ [12, 7,3] ,
  [4,5,6],
 [7,8,9]]
Y = [[5,8,1],
 [6,7,3],
 [4,5,9]]
result = [[0,0,0],
  [0,0,0],
  [0,0,0]]
for i in range(len(X)):
 for j in range(len(X[0])): 
  result[i][j] = X[i][j]+Y[i][j]
for r in result: 
  print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
#10
X =  [ [12, 7] ,
 [4,5],
 [3,8]]
result = [[0,0,0],
  [0,0,0]]
for i in range(len(X)):
 for j in range(len(X[0])):
  result[j][i] = X[i][j]
for r in result:
 print(r)

[12, 4, 3]
[7, 5, 8]

In [ ]:
#11
X  =  [ [5, 7, 9] ,
 [1,3,5] ,
 [2,8,4]]
Y =  [ [5, 4, 6] ,
 [2,3,7],
 [8,1,3]]
result = [[0,0,0],
 [0,0,0],
 [0,0,0]]
for i in range(len(X)):
 for j in range(len(Y[0])): 
   for k in range(len(Y)):
     result[i][j] += X[i][k]*Y[k][j] 
for r in result:
 print(r)

[111, 50, 106]
[51, 18, 42]
[58, 36, 80]

In [ ]:
#12
my_str = input("Enter a string: ") 
my_str = my_str.casefold()
rev_str = reversed(my_str)
if list(my_str) == list(rev_str): 
  print("The string is a Palindrome.")
else:
  print("The string is not a Palindrome.")

Enter a string: Radar
The string is a Palindrome.

In [ ]:
#13
my_str=input("Enter a string: ")
words = [word.lower() 
for word in my_str.split()] 
words.sort()
print("The sorted words are: ") 
for word in words:
 print(word)

Enter a string: My name is Yutika
The sorted words are:
is
my
name
yutika